<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">
        <img src="../img/logo.png" height="40" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {{!-- <li class="nav-item active">
            <a class="nav-link" href="/">Реєстрація <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://ilac.com.ua/prices.html">Ціни</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/contacts.html">Контакти</a>
            </li> --}}
        </ul>
      </div>
      <div class="head-title text-white"><b>Необхідна допомога?</b></div>
      <span class="text-white">Тел: (050) 418-58-64</span>
    </nav>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {{!-- <img src="../img/logo.png" height="40" class="d-inline-block align-top logo" alt=""> --}}
        <h1 class="display-5 mb-5 mt-5"></h1>
        <p class="lead">&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-12"><h3 class="mt-3"><strong>Пошук сертифікатів:</strong></h3></div>
      
      <div class="col-md-4">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="card-header bg-primary text-white"><strong>Крок 1. Оберіть тип пошуку нижче:</strong></div>
              <div class="card-body">
                <!-- <h4 class="card-title">Знайти сертифікат за:</h4> -->
                <div class="card-text search">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchtype" id="typecode" value="code" checked>
                    <label class="form-check-label" for="typecode">за номером сертифікату</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="searchtype" id="typeemail" value="email">
                    <label class="form-check-label" for="typeemail">за імейлом</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">

          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div id="searchcode" class="card bg-light">
          <div class="card-header bg-primary text-white"><strong>Крок 2. Знайти сертифікат за його номером:</strong></div>
          <div class="card-body">
            <!-- <h4 class="card-title">Знайти сертифікат за:</h4> -->
            <div class=""> 
                <div class="row">
                <div class="col-md-9"><input type="text" class="form-control" id="searchbycode" aria-describedby="emailHelp"
                  placeholder="введіть код сертифіката"></div>

                  <div class="col-md-3"><button id="searchbycode-btn" type="button" class="btn btn-success">Знайти</button></div>
                </div>
              
              
              </div>
          </div>
        </div>
        
        <div id="searchemail" class="card mb-3">
          <div class="card-header bg-primary text-white"><strong>Крок 2. Знайти сертифікат за імейлом:</strong></div>
          <div class="card-body">
            <!-- <h4 class="card-title">Знайти сертифікат за:</h4> -->
            <div class="">                
                <div class="row">
                <div class="col-md-8"><input type="email" class="form-control" id="searchbyemail" aria-describedby="emailHelp"
                  placeholder="введіть Ваш E-mail"></div>
                <div class="col-md-4"><button id="searchbyemail-btn" type="button" class="btn btn-success">Знайти</button></div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-3"><strong>Результат пошуку:</strong></h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="text-white bg-primary">
              <tr>
                <th scope="col">
                  <svg class="bi bi-calendar-date text-primary" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                    <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>  Дата
                </th>
                <th scope="col">
                  <svg class="bi bi-file-earmark-text text-primary" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg>  Тема заходу
                </th>
                <th scope="col">
                  <svg class="bi bi-laptop text-primary" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z"/>
                    <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z"/>
                  </svg>  Тип заходу</th>
                <th scope="col">
                  <svg class="bi bi-person text-primary" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  </svg>  Спікер</th>
                <th scope="col">
                  <svg class="bi bi-envelope text-primary" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                    <path d="M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z"/>
                  </svg> Отримати
                </th>
              </tr>
            </thead>
            <tbody id="table-result">

              <!-- <tr class="events">
                {{#each events}}
                  <td>{{this}}</td>
                {{/each}}
              </tr> -->

              <!-- <tr>
                <td>Назва назва назва назва назва</td>
                <td>тип тип  тип</td>
                <td>08.06.2020</td>
                <td>Геннадій Білоус</td>
                <td><button class="btn btn-sm btn-danger">Відправити на e-mail</button></td>
              </tr>
              <tr>
                <td>Назва назва назва назва назва</td>
                <td>тип тип  тип</td>
                <td>01.06.2020</td>
                <td>Олена Міходуй</td>
                <td><button class="btn btn-sm btn-danger">Відправити на e-mail</button></td>
              </tr>
              <tr>
                <td>Назва назва назва назва назва</td>
                <td>тип тип  тип</td>
                <td>08.05.2020</td>
                <td>Геннадій Білоус</td>
                <td><button class="btn btn-sm btn-danger">Відправити на e-mail</button></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 notification">
        <div id="no-user" class="alert alert-warning alert-dismissible fade" role="alert">
          Учасника не знайдено!
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="certificate-sent" class="alert alert-success alert-dismissible fade" role="alert">
          Сертифікат відправлено на пошту учасника!
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="certificate-not-sent" class="alert alert-danger alert-dismissible fade" role="alert">
          Сталася помилка при відправленні сертифіката!
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div class="container"> {{> footer}}</div>
</body>

</html>